@import url("@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Science+Gothic:wght@100..900&display=swap');");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url("components/ccontainer.css");
@import url("components/avatar.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
@import url("components/thisisus.css");


body {
  font-family: "Science Gothic", sans-serif;
  font-size: 18px;
  margin:0px;
}

h1, h2, h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

a {
	text-decoration: none;
}